<h1><%@course.course_title%></h1>
    <%@course.tasks.each do |task|%>
        <%= form_for(@course) do |f| %>
          <%=f.fields_for :tasks do |t|%>
            <%=t.label :title%>
            <h4><%=task.title%></h4>
            <%=t.label :description%>
            <h4><%=task.description%></h4>
            <%=t.label :goal_date%>
            <h4><%=task.goal_date%></h4>
            <%=t.label "Mark Task Complete"%>
            <%= t.check_box '_destroy' %>
            <br>
            <br>
          <%end%>
      <br>
      <br>
      <%= f.submit %>
      <%end%>
    <%end%>
      