<% if @course.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@course.errors.count, "error") %>
      prohibited this course from being saved:
    </h2>
 
    <ul>
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@course) do |f| %>
  <label>Course title:</label><br>
 
  <%= f.hidden_field :user_id %>
 
  <%= f.text_field :course_title %><br>
  <label>Course Topic</label><br>
  <%= f.text_field :topic %><br>
  <%= f.submit %>
<% end %>

<div id="courseResult">
  <h1 id="newCourseMessage"></h1>
  <h2 id="courseTitle"></h2>
  <p id="courseTopic"></p>
  <p id="coursesLink"></p>

</div>



<!-- <form class="new_course" id="new_course">
  <label>Course title:</label><br>
 
  <input type="hidden" value="3" name="course[user_id]" id="course_user_id">
 
  <input type="text" name="course[course_title]" id="course_course_title"><br>
  <label>Course Topic</label><br>
  <input type="text" name="course[topic]" id="course_topic"><br>
  <input type="submit" name="commit" value="Create Course" data-disable-with="Create Course">
</form> -->