<nav class="">
    <ul>
        <li> <%= link_to "Main Feed", root_path %> </li>

        <%if !user_signed_in? %>
        	<li> <%= link_to "Sign in", new_user_session_path%> </li>
        	<li> <%= link_to "Sign up", new_user_registration_path%> </li>
        <%else%>
        	<h3>Signed in as <%=current_user.username%></h3> 
        	<li> <%= link_to "Sign out", destroy_user_session_path, method: "delete"%> </li>
        <% end %>


       <% if user_signed_in? && current_user.courses %>
          <li> <%=link_to "Create a new course", new_course_path %></li>
          <li> <%=link_to "My Courses", courses_path %></li>
        <% end %>

    </ul>
</nav>